### Importing Essential Libraries

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation  
> Matplotlib : Low-level library for Data Visualization  
> Seaborn : Higher-level library for Data Visualization

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

### Importing Dataset "Sales"

In [2]:
sales_Df = pd.read_csv('Sales.csv')
sales_Df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [3]:
sales_Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

### Data Cleaning

In [4]:
# Making a copy of sales_Df for cleaning
sales_Df_Copy = sales_Df.copy()

In [5]:
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

#### Dropping records with 'NA' values

In [6]:
sales_Df_Copy = sales_Df_Copy.dropna(subset=['Memory','Storage','Rating'])
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               2897 non-null   object
 1   Models               2897 non-null   object
 2   Colors               2897 non-null   object
 3   Memory               2897 non-null   object
 4   Storage              2897 non-null   object
 5   Camera               2897 non-null   object
 6   Rating               2897 non-null   float64
 7   Selling Price        2897 non-null   int64
 8   Original Price       2897 non-null   int64
 9   Mobile               2897 non-null   object
 10  Discount             2897 non-null   int64
 11  discount percentage  2897 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 294.2+ KB

#### Dropping Columns `Models`, `Mobile` and `Camera`

In [7]:
sales_Df_Copy = sales_Df_Copy.drop(['Models', 'Mobile', 'Camera'], axis=1)
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               2897 non-null   object
 1   Colors               2897 non-null   object
 2   Memory               2897 non-null   object
 3   Storage              2897 non-null   object
 4   Rating               2897 non-null   float64
 5   Selling Price        2897 non-null   int64
 6   Original Price       2897 non-null   int64
 7   Discount             2897 non-null   int64
 8   discount percentage  2897 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 226.3+ KB

#### Standardising naming conventions for columns
* Converting all columns to `UPPERCASE FORMAT`
* Replacing all whitespaces in columns with `_`

In [8]:
sales_Df_Copy.columns = sales_Df_Copy.columns.str.upper()
sales_Df_Copy.columns = sales_Df_Copy.columns.str.replace(" ","_")
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   object
 1   COLORS               2897 non-null   object
 2   MEMORY               2897 non-null   object
 3   STORAGE              2897 non-null   object
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 226.3+ KB

#### Standardising naming conventions for individual records
* Converting `BRANDS` and `COLORS` to `STRING FORMAT`
* Converting `BRANDS` and `COLORS` to `UPPERCASE FORMAT` for Uniformity

In [9]:
sales_Df_Copy[['BRANDS', 'COLORS']] = sales_Df_Copy[['BRANDS', 'COLORS']].astype("string")
sales_Df_Copy['BRANDS'] = sales_Df_Copy['BRANDS'].str.upper()
sales_Df_Copy['COLORS'] = sales_Df_Copy['COLORS'].str.upper()
sales_Df_Copy.head()

,BRANDS,COLORS,MEMORY,STORAGE,RATING,SELLING_PRICE,ORIGINAL_PRICE,DISCOUNT,DISCOUNT_PERCENTAGE
0,SAMSUNG,MIRAGE BLACK,8 GB,128 GB,4.3,19330,20999,1669,7.947998
1,NOKIA,STEEL,2 GB,16 GB,3.8,10199,10199,0,0.000000
3,INFINIX,ICE BLUE,4 GB,64 GB,4.2,12999,12999,0,0.000000
4,APPLE,BLACK,4GB,64 GB,4.6,49900,49900,0,0.000000
5,GIONEE,BLACK,8 MB,16 MB,4.0,2199,2199,0,0.000000

In [10]:
sales_Df_Copy.head()

,BRANDS,COLORS,MEMORY,STORAGE,RATING,SELLING_PRICE,ORIGINAL_PRICE,DISCOUNT,DISCOUNT_PERCENTAGE
0,SAMSUNG,MIRAGE BLACK,8 GB,128 GB,4.3,19330,20999,1669,7.947998
1,NOKIA,STEEL,2 GB,16 GB,3.8,10199,10199,0,0.000000
3,INFINIX,ICE BLUE,4 GB,64 GB,4.2,12999,12999,0,0.000000
4,APPLE,BLACK,4GB,64 GB,4.6,49900,49900,0,0.000000
5,GIONEE,BLACK,8 MB,16 MB,4.0,2199,2199,0,0.000000

In [11]:
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   string
 1   COLORS               2897 non-null   string
 2   MEMORY               2897 non-null   object
 3   STORAGE              2897 non-null   object
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: float64(2), int64(3), object(2), string(2)
memory usage: 226.3+ KB

#### Further Cleaning on 'MEMORY'
* Converting `MEMORY` to `STRING FORMAT`
* Identify Unique values of `MEMORY`
* If duplicate naming conventions exist, merge them together
* Replace ' ' with '_'
* Converting `MEMORY` to `CATEGORY FORMAT`

In [12]:
# Converting 'MEMORY' to 'string' Format
sales_Df_Copy[['MEMORY']] = sales_Df_Copy[['MEMORY']].astype("string")
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   string
 1   COLORS               2897 non-null   string
 2   MEMORY               2897 non-null   string
 3   STORAGE              2897 non-null   object
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: float64(2), int64(3), object(1), string(3)
memory usage: 226.3+ KB

In [13]:
# Identify UNIQUE values of 'MEMORY'
print("Number of UNIQUE types of MEMORY :", len(sales_Df_Copy["MEMORY"].unique()))
print(sales_Df_Copy["MEMORY"].value_counts())

Number of UNIQUE types of MEMORY : 24
MEMORY
4 GB      711
3 GB      479
6 GB      444
2 GB      376
8 GB      326
1 GB      193
4GB       129
12 GB      58
512 MB     46
4 MB       37
1.5 GB     29
64 MB      15
32 MB      14
16 MB      12
8 MB       10
768 MB      6
10 MB       3
2 MB        2
46 MB       2
128 MB      1
153 MB      1
30 MB       1
100 MB      1
16 GB       1
Name: count, dtype: Int64

In [14]:
# If duplicate naming conventions exist, merge them together
sales_Df_Copy['MEMORY'] = sales_Df_Copy['MEMORY'].str.replace('4GB','4 GB')
print("Number of UNIQUE types of MEMORY :", len(sales_Df_Copy["MEMORY"].unique()))
print(sales_Df_Copy["MEMORY"].value_counts())

Number of UNIQUE types of MEMORY : 23
MEMORY
4 GB      840
3 GB      479
6 GB      444
2 GB      376
8 GB      326
1 GB      193
12 GB      58
512 MB     46
4 MB       37
1.5 GB     29
64 MB      15
32 MB      14
16 MB      12
8 MB       10
768 MB      6
10 MB       3
2 MB        2
46 MB       2
128 MB      1
153 MB      1
30 MB       1
100 MB      1
16 GB       1
Name: count, dtype: Int64

In [15]:
sales_Df_Copy['MEMORY'] = sales_Df_Copy['MEMORY'].str.replace(' ','_')
print("Number of UNIQUE types of MEMORY :", len(sales_Df_Copy["MEMORY"].unique()))
print(sales_Df_Copy["MEMORY"].value_counts())

Number of UNIQUE types of MEMORY : 23
MEMORY
4_GB      840
3_GB      479
6_GB      444
2_GB      376
8_GB      326
1_GB      193
12_GB      58
512_MB     46
4_MB       37
1.5_GB     29
64_MB      15
32_MB      14
16_MB      12
8_MB       10
768_MB      6
10_MB       3
2_MB        2
46_MB       2
128_MB      1
153_MB      1
30_MB       1
100_MB      1
16_GB       1
Name: count, dtype: Int64

In [16]:
# Those records with 'MEMORY' < 1GB classfied under 'LESS THAN 1GB'
sales_Df_Copy.loc[sales_Df_Copy['MEMORY'].str.contains("MB"), 'MEMORY'] = 'LESS_THAN_1GB'
print("Number of types of MEMORY :", len(sales_Df_Copy["MEMORY"].unique()))
print(sales_Df_Copy["MEMORY"].value_counts())

Number of types of MEMORY : 10
MEMORY
4_GB             840
3_GB             479
6_GB             444
2_GB             376
8_GB             326
1_GB             193
LESS_THAN_1GB    151
12_GB             58
1.5_GB            29
16_GB              1
Name: count, dtype: Int64

In [17]:
# Converting `MEMORY` to `CATEGORY FORMAT`
sales_Df_Copy[['MEMORY']] = sales_Df_Copy[['MEMORY']].astype('category')
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   string
 1   COLORS               2897 non-null   string
 2   MEMORY               2897 non-null   category
 3   STORAGE              2897 non-null   object
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: category(1), float64(2), int64(3), object(1), string(2)
memory usage: 206.9+ KB

#### Further Cleaning on 'STORAGE'
* Converting `STORAGE` to `STRING FORMAT`
* Standardise all records of `STORAGE` to be UPPERCASE
* Identify Unique values of `STORAGE`
* Those records with 'STORAGE' < 1GB classfied under 'LESS THAN 1GB'
* Those records with 'STORAGE' where COUNT < 10, classify them as under 'OTHERS'
* Converting `STORAGE` to `CATEGORY FORMAT`

In [18]:
# Converting `STORAGE` to `STRING FORMAT`
sales_Df_Copy[['STORAGE']] = sales_Df_Copy[['STORAGE']].astype("string")
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   string
 1   COLORS               2897 non-null   string
 2   MEMORY               2897 non-null   category
 3   STORAGE              2897 non-null   string
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: category(1), float64(2), int64(3), string(3)
memory usage: 206.9 KB

In [19]:
# Standardise all records of `STORAGE` to be UPPERCASE
sales_Df_Copy['STORAGE'] = sales_Df_Copy['STORAGE'].str.upper()

In [20]:
# * Identify Unique values of `STORAGE`
print("Number of UNIQUE types of STORAGE :", len(sales_Df_Copy["STORAGE"].unique()))
print(sales_Df_Copy["STORAGE"].value_counts())

Number of UNIQUE types of STORAGE : 25
STORAGE
64 GB                    757
128 GB                   720
32 GB                    545
16 GB                    312
256 GB                   216
8 GB                     133
4 GB                      56
512 GB                    41
4 MB                      27
2 MB                      26
128 MB                    12
16 MB                     10
EXPANDABLE UPTO 32 GB     10
EXPANDABLE UPTO 16 GB      7
1 TB                       6
64 MB                      3
129 GB                     3
512 MB                     2
256 MB                     2
130 GB                     2
8 MB                       2
100 MB                     2
153 MB                     1
10 MB                      1
140 MB                     1
Name: count, dtype: Int64

In [21]:
# Replacing ' ' with '_'
sales_Df_Copy['STORAGE'] = sales_Df_Copy['STORAGE'].str.replace(' ','_')
print("Number of UNIQUE types of STORAGE :", len(sales_Df_Copy["STORAGE"].unique()))
print(sales_Df_Copy["STORAGE"].value_counts())

Number of UNIQUE types of STORAGE : 25
STORAGE
64_GB                    757
128_GB                   720
32_GB                    545
16_GB                    312
256_GB                   216
8_GB                     133
4_GB                      56
512_GB                    41
4_MB                      27
2_MB                      26
128_MB                    12
16_MB                     10
EXPANDABLE_UPTO_32_GB     10
EXPANDABLE_UPTO_16_GB      7
1_TB                       6
64_MB                      3
129_GB                     3
512_MB                     2
256_MB                     2
130_GB                     2
8_MB                       2
100_MB                     2
153_MB                     1
10_MB                      1
140_MB                     1
Name: count, dtype: Int64

In [22]:
# Classifying records involving Expansion of Storage together
sales_Df_Copy.loc[sales_Df_Copy['STORAGE'].str.contains("EXPANDABLE"), 'STORAGE'] = 'EXPANDABLE'
print("Number of UNIQUE types of STORAGE :", len(sales_Df_Copy["STORAGE"].unique()))
print(sales_Df_Copy["STORAGE"].value_counts())

Number of UNIQUE types of STORAGE : 24
STORAGE
64_GB         757
128_GB        720
32_GB         545
16_GB         312
256_GB        216
8_GB          133
4_GB           56
512_GB         41
4_MB           27
2_MB           26
EXPANDABLE     17
128_MB         12
16_MB          10
1_TB            6
64_MB           3
129_GB          3
512_MB          2
256_MB          2
130_GB          2
8_MB            2
100_MB          2
153_MB          1
10_MB           1
140_MB          1
Name: count, dtype: Int64

In [23]:
# Those records with 'STORAGE' < 1GB classfied under 'LESS THAN 1GB'
sales_Df_Copy.loc[sales_Df_Copy['STORAGE'].str.contains("MB"), 'STORAGE'] = 'LESS_THAN_1GB'
print("Number of types of STORAGE :", len(sales_Df_Copy["STORAGE"].unique()))
print(sales_Df_Copy["STORAGE"].value_counts())

Number of types of STORAGE : 13
STORAGE
64_GB            757
128_GB           720
32_GB            545
16_GB            312
256_GB           216
8_GB             133
LESS_THAN_1GB     89
4_GB              56
512_GB            41
EXPANDABLE        17
1_TB               6
129_GB             3
130_GB             2
Name: count, dtype: Int64

In [24]:
# Those records with 'STORAGE' where COUNT < 10, classify them as under 'OTHERS'
sales_Df_Copy.loc[sales_Df_Copy["STORAGE"].value_counts()[sales_Df_Copy["STORAGE"]].values <= 10, 'STORAGE'] = 'OTHERS'
print("Number of types of STORAGE :", len(sales_Df_Copy["STORAGE"].unique()))
print(sales_Df_Copy["STORAGE"].value_counts())

Number of types of STORAGE : 11
STORAGE
64_GB            757
128_GB           720
32_GB            545
16_GB            312
256_GB           216
8_GB             133
LESS_THAN_1GB     89
4_GB              56
512_GB            41
EXPANDABLE        17
OTHERS            11
Name: count, dtype: Int64

In [25]:
# Converting `STORAGE` to `CATEGORY FORMAT`
sales_Df_Copy[['STORAGE']] = sales_Df_Copy[['STORAGE']].astype('category')
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   string
 1   COLORS               2897 non-null   string
 2   MEMORY               2897 non-null   category
 3   STORAGE              2897 non-null   category
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: category(2), float64(2), int64(3), string(2)
memory usage: 187.5 KB

#### Further cleaning on 'COLORS'
* Identify Unique values of `COLORS`
* Characterise colors based on substrings of colors
* Those records with 'COLORS' not in "labelled_colors" list, classify them as under 'OTHERS'
* Converting `COLORS` to `CATEGORY FORMAT`

In [26]:
# Identify Unique values of `COLORS`
print("Number of COLORS :", len(sales_Df_Copy["COLORS"].unique()))
sales_Df_Copy["COLORS"].value_counts()

Number of COLORS : 603

COLORS
BLACK                446
GOLD                 184
WHITE                153
BLUE                 134
SILVER                90
                    ...
SUNSET BLUE            1
BOLD RED               1
BLOSSOM PINK           1
PACIFIC SUNRISE        1
SAPPHIRE GRADIENT      1
Name: count, Length: 603, dtype: Int64

In [27]:
# Characterise colors based on substrings of colors
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("BLACK")|sales_Df_Copy['COLORS'].str.contains("GRAPHITE")|sales_Df_Copy['COLORS'].str.contains("CHARCOAL")|sales_Df_Copy['COLORS'].str.contains("NIGHT"), 'COLORS'] = 'BLACK'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("BLUE")|sales_Df_Copy['COLORS'].str.contains("AQUA")|sales_Df_Copy['COLORS'].str.contains("NAVY")|sales_Df_Copy['COLORS'].str.contains("SAPPHIRE")|sales_Df_Copy['COLORS'].str.contains("CYAN")|sales_Df_Copy['COLORS'].str.contains("OCEAN"), 'COLORS'] = 'BLUE'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("WHITE")| sales_Df_Copy['COLORS'].str.contains("PEARL"), 'COLORS'] = 'WHITE'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("GOLD"), 'COLORS'] = 'GOLD'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("SILVER")|sales_Df_Copy['COLORS'].str.contains("PLATINUM"), 'COLORS'] = 'SILVER'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("GREY")| sales_Df_Copy['COLORS'].str.contains("GRAY")| sales_Df_Copy['COLORS'].str.contains("TITAN")| sales_Df_Copy['COLORS'].str.contains("STEEL"), 'COLORS'] = 'GREY'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("RED")| sales_Df_Copy['COLORS'].str.contains("RUBY"), 'COLORS'] = 'RED'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("GREEN")| sales_Df_Copy['COLORS'].str.contains("MINT")| sales_Df_Copy['COLORS'].str.contains("EMERALD"), 'COLORS'] = 'GREEN'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("PURPLE")|sales_Df_Copy['COLORS'].str.contains("VIOLET")|sales_Df_Copy['COLORS'].str.contains("LAVENDER"), 'COLORS'] = 'BLACK'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("BRONZE")|sales_Df_Copy['COLORS'].str.contains("COPPER")|sales_Df_Copy['COLORS'].str.contains("BROWN"), 'COLORS'] = 'BROWN'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("YELLOW"), 'COLORS'] = 'YELLOW'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("PINK"), 'COLORS'] = 'PINK'
sales_Df_Copy.loc[sales_Df_Copy['COLORS'].str.contains("GLOW")|sales_Df_Copy['COLORS'].str.contains("RAINBOW"), 'COLORS'] = 'MULTICOLOR'

print("Number of COLORS :", len(sales_Df_Copy["COLORS"].unique()))
pd.set_option('display.max_rows', None)
sales_Df_Copy["COLORS"].value_counts()

Number of COLORS : 60

COLORS
BLACK                 996
BLUE                  533
WHITE                 318
GOLD                  282
SILVER                174
GREY                  169
RED                   138
GREEN                 125
YELLOW                 27
BROWN                  20
PINK                   15
MULTICOLOR             14
CORAL                   6
SAND                    5
CHAMPAGNE               5
ICE                     5
TUSCANY CORAL           4
FROSTED CHAMPAGNE       3
DUSK                    3
AURORA                  2
DIAMOND DAZZLE          2
SUNSET MELODY           2
DYNAMIC ORANGE          2
LIGHTNING ORANGE        2
ONION                   2
MOONLIGHT JADE          2
IRON                    2
CREAM                   2
SUNSET DAZZLE           2
AURORA DAWN             2
NEBULA                  2
CELESTIAL SNOW          2
MIDDAY DREAM            2
PRISM MAGIC             1
CYBER TEAL              1
RICH CRANBERRY          1
NORDIC SECRET           1
TWILIGHT ORANGE         1
CELESTIAL MAGIC         1
FJORD                   1
SPRITE                  1
SMOKY SANGRIA           1
PASTEL SKY              1
GARLIC                  1
NEON SPARK              1
CONCRETE                1
CARBON                  1
DARK NEBULA             1
DIAMOND FLARE           1
SUNRISE FLARE           1
ORANGE                  1
SUNSET JAZZ             1
CRYSTAL SYMPHONY        1
SPORTY ORANGE           1
ILLUSION SKY            1
BALTIC                  1
SUN KISSED LEATHER      1
METALLIC SAGE           1
PACIFIC SUNRISE         1
COCKTAIL ORANGE         1
Name: count, dtype: Int64

In [28]:
# Those records with 'COLORS' not in "labeled_colors" list, classify them as under 'OTHERS'
labeled_colors = ['BLACK', 'BLUE', 'WHITE', 'GOLD', 'SILVER', 'GREY', 'RED', 'GREEN', 'PURPLE', 'BROWN', 'YELLOW', 'PINK','MULTICOLOR']
unlabeled_colors = sales_Df_Copy[~sales_Df_Copy['COLORS'].isin(labeled_colors)]['COLORS'].unique()

sales_Df_Copy.loc[sales_Df_Copy['COLORS'].isin(unlabeled_colors), 'COLORS'] = 'OTHERS'

print("Number of COLORS :", len(sales_Df_Copy["COLORS"].unique()))
pd.set_option('display.max_rows', None)
sales_Df_Copy["COLORS"].value_counts()

Number of COLORS : 13

COLORS
BLACK         996
BLUE          533
WHITE         318
GOLD          282
SILVER        174
GREY          169
RED           138
GREEN         125
OTHERS         86
YELLOW         27
BROWN          20
PINK           15
MULTICOLOR     14
Name: count, dtype: Int64

In [29]:
# Converting `COLORS` to `CATEGORY FORMAT`
pd.reset_option('display.max_rows')
sales_Df_Copy[['COLORS']] = sales_Df_Copy[['COLORS']].astype('category')
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   string
 1   COLORS               2897 non-null   category
 2   MEMORY               2897 non-null   category
 3   STORAGE              2897 non-null   category
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: category(3), float64(2), int64(3), string(1)
memory usage: 168.3 KB

#### Further cleaning on 'BRANDS'
* Replacing ' ' with '_'
* Identify Unique values of `BRANDS`
* Converting `BRANDS` to `CATEGORY FORMAT`

In [30]:
# Replacing ' ' with '_'
sales_Df_Copy['BRANDS'] = sales_Df_Copy['BRANDS'].str.replace(' ','_')
print("Number of BRANDS :", len(sales_Df_Copy["BRANDS"].unique()))
pd.set_option('display.max_rows', None)
sales_Df_Copy["BRANDS"].value_counts()

Number of BRANDS : 17

BRANDS
SAMSUNG         685
APPLE           319
REALME          281
OPPO            251
XIAOMI          191
NOKIA           184
INFINIX         151
GIONEE          127
LENOVO          120
VIVO            114
ASUS            111
MOTOROLA        103
LG               98
POCO             73
HTC              55
GOOGLE_PIXEL     29
IQOO              5
Name: count, dtype: Int64

In [31]:
# Converting `BRANDS` to `CATEGORY FORMAT`
sales_Df_Copy[['BRANDS']] = sales_Df_Copy[['BRANDS']].astype('category')
sales_Df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2897 entries, 0 to 3113
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRANDS               2897 non-null   category
 1   COLORS               2897 non-null   category
 2   MEMORY               2897 non-null   category
 3   STORAGE              2897 non-null   category
 4   RATING               2897 non-null   float64
 5   SELLING_PRICE        2897 non-null   int64
 6   ORIGINAL_PRICE       2897 non-null   int64
 7   DISCOUNT             2897 non-null   int64
 8   DISCOUNT_PERCENTAGE  2897 non-null   float64
dtypes: category(4), float64(2), int64(3)
memory usage: 149.2 KB

### Exporting Cleaned Data in CSV Format for Exploratory Data Analysis

In [32]:
# sales_Df_Copy_Data = sales_Df_Copy.to_csv('sales_Cleaned_v3.csv', index = False) 
# print('\nCSV String:\n', sales_Df_Copy_Data)

CSV String:
 None